.signup {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url("https://img.wallpapersafari.com/desktop/1680/1050/24/74/zgeTuV.jpg")
			no-repeat center fixed !important;
	background-size: cover;
	height: 100vh;
}

.bg-dark {
	background: rgba(39, 33, 33, 0.5) !important;
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
	backdrop-filter: blur(5px) !important;
	-webkit-backdrop-filter: blur(8px) !important;
	border-radius: 10px !important;
	border: 1px solid rgba(255, 255, 255, 0.18) !important;
}

.btn-danger {
	background: rgb(206, 0, 0);
}
